{% extends "basefront.html.twig" %}
{% block body %}
    <h1>Bienvenue sur mon site personnel de présentation de mes voyages</h1>
    <p>
        Dans la partie <a href="{{ path('voyages') }}">voyages</a>, vous pouvez voir la liste des visites que j'ai faites dans différentes villes.<br/>
        A chaque fois j'ai précisé la ville visitée, le pays, j'ai mis une note (entre 0 et 20) et il y a aussi la date de la visite.<br/>
        Vous pouvez trier la liste en fonction des villes, des pays, des notes et des dates, 
        aussi bien dans l'ordre croissant que décroissant.<br/>
        Vous pouvez aussi filtrer les visites par rapport à une ville ou un pays.<br/>
        En cliquant sur la ville de la visite, vous pourrez avoir plus d'informations dessus :<br/>
        températures min et max, une description de la visite, les environnements (montagne, mer, désert...) et une photo.<br/>
        Enfin, vous pouvez me contacter avec le formulaire de <a href="{{ path('contact') }}">Contact</a>.
    </p>
    <p class="text-left">Voici mes 2 derniers voyages</p>
    <div class="container">
        <div class='row'>
            {% for visite in visites %}
                <div class="col">
                    {% include('pages/_voyage.html.twig') %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}